.App {
  display: flex;
  position: relative;
}
body {
  display: flex;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(38, 240, 206)

}
li {
  list-style: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.price {
  float: right;
  color: grey;
}
.container {
  background-color: #ffffffea;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  width: 200px;
  right: 5%;
  position: absolute;
}